.mediaViewInfo {
	--web-view-name: HomePage;
	--web-view-id: HomePage;
	--web-scale-on-resize: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: HomePage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

#ScrollContent {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0%;
	overflow: visible;
	margin: 0 auto;
}

.Ecards-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	text-align: center;
	top : 0px;
	width : 100vw;
	height : auto;
}

.Ecards-MainInfo {
	position: relative;
	width : 100%;
	height : auto;

	
}
.EcardsImages {
		position :relative;
	width : 100vw;
	height: auto;
	left: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: PhotoPreview.html;
	cursor: pointer;
	flex: 33%;

}

#ecard-nobg1 {
	position: relative;
	width: 100vw;
	height: auto;
	left: 0;
	
	overflow: visible;
}
.RightInfo {
	right: 0;
	width: 50%;
	height: 100%;
	border:0;
}
#Create_your_own_personalized_F {
	position: relative;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 100%;
	height: 50px;
	word-wrap: break-word;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 5vw;
	margin : 2vh 2vw;
	margin-left : 5px;
	color: rgba(0,0,0,1);
}
#LoremIpsumLoremIpsumLorem_Ipsu {
	left:  0px;
	top: 0px;
	width: 90vw;
	height : 100px;
	position: relative;
	overflow: visible;
	margin : 0px 2vw;


word-wrap: break-word;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
		font-size: 3.5vw;
	color: rgba(112,112,112,1);
}
#EcardHeader {
	fill: rgba(0,15,165,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	width: 100vw; 
	height: 5vh;
	margin-bottom :2vh;
}

.EcardHeader {
	position: absolute;
	overflow: visible;
	width: 100vw;
	height: 5vh;
	left: 0px;
	top: 0px;
	margin-bottom :2vh;
}
#E_cards_SelectionTitle {
	bottom: 20%;
	position: relative;
	overflow: visible;
	width : 100vw;
	height : 3vh;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	color: rgba(255,255,255,1);
	margin :1vh 3vw;
		margin-bottom :2vh;
}