#BaseBody {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: HomePage;
	--web-view-id: HomePage;
	--web-scale-on-resize: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#ViewBody {
	mix-blend-mode: normal;
	position: absolute;
	width: 100vw;
	height: 92.5vh;
	left: 0;
	top: 7.5vh;
	overflow: hidden;
	overflow-y: scroll;
}
#FooterGroup {
	position: absolute;
	width: 100vw;
	height: 15vh;
	left: 0px;
	bottom: 0px;
	overflow: visible;
}
#FooterImage {
	fill: rgba(0,15,165,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	width: 100%;
	height: 100%;
	right: 0px;
}
.FooterImage {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
}
#download {
	position: absolute;
	width: auto;
	height: 7.5vh;
	right: 0px;
	bottom: 0px;
	overflow: visible;
}
#Header {
	position: absolute;
	width: 100vw;
	height: 7.5vh;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#HeaderImage {
	fill: rgba(0,15,165,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	width: 100vw; 
	height: 7.5vh;
}

.HeaderImage {
	position: absolute;
	overflow: visible;
	width: 100vw;
	height: 7.5vh;
	left: 0px;
	top: 0px;
}

#E_cards_Portal_Title {
	left: 5%;
	bottom: 20%;

	position: absolute;
	overflow: visible;
	width : 30%;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	color: rgba(255,255,255,1);
}
#E_cards_Portal_SubHeader {
	right: 20vh;
	bottom: 18%;

	position: absolute;
	overflow: visible;
	width : 30%;
	
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
	color: rgba(242,18,18,1);
}